@use "../mixin/breakpoint" as *;

/****************************************************/
/* type1                                            */
/****************************************************/
@include all {
    .btn-type1 {
        width: 30px;
    }
}
@include md {
    .btn-type1 {
        width: 20rem;
    }

}