@use "../mixin/breakpoint" as *;

/****************************************************/
/* type1                                            */
/****************************************************/
@include all {
    .h2-type1 {
        position: absolute;
        font-family: var(--font-hind);
        font-size: 160px;
        line-height: 111px;
        font-weight: var(--font-weight__bold);
        -webkit-text-fill-color: transparent;
        background: rgb(112, 210, 200);
        background: linear-gradient(180deg, rgb(238, 170, 36), rgb(112, 210, 200)) text;
        padding-top: 16px;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: var(--white);
        z-index: 1;
    }
}
@include md {
    .h2-type1 {
        font-size: 60rem;
        line-height: 47rem;
        padding-top: 16rem;
        -webkit-text-stroke-width: 1.3px;
    }
}


/****************************************************/
/* type2                                            */
/****************************************************/