@use "../mixin/breakpoint" as *;

/****************************************************/
/* type1                                            */
/****************************************************/
.p-type1 {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
}


/****************************************************/
/* type3                                            */
/****************************************************/
.p-type3 {
    font-size: 20px;
    line-height: 35px;
}