@use "../mixin/breakpoint" as *;

html {
  /* 1rem = 1px */
  font-size: 6.25%;
  scroll-padding-top: var(--height__header);
}
@include md {
  html {
    /* 基準画面幅 375px の時に 1rem が 1px になるように設定 */
    font-size: calc(100vw / 375);
  }
}

body {
  font-size: 16rem;
  font-family:  var(--font-family);
  font-weight: var(--font-weight__medium);
  color: var(--black2);
  background-color: var(--white);
  line-height: 1.2;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.5;
}

@for $i from 1 through 500 {
  .pb-#{$i} { padding-bottom: #{$i}px; }
  .width-#{$i} { width: #{$i}px !important;}
  .maxwidth-#{$i} { max-width: #{$i}px !important;}
}


/* slick縦並び対策 */
.slick-type1 > :not(:first-child) {
  display: none;
}
.slick-type1.slick-initialized > :not(:first-child) {
  display: block; /*slick-initializedが付与されたら表示*/
}