@use "../mixin/breakpoint" as *;

:root {
    --white  : #FFFFFF;
    --gray   : #8F8F8F;
    --gray2  : #FAFAFA;
    --green  : #70D2C8;
    --black  : #222222;

    --font-family   : "Noto Sans JP", sans-serif;
    --font-hind     : "Hind", serif;
    --font-klee-one : "Klee One", cursive;

    // --font-weight__thin       : 100;
    // --font-weight__extralight : 200;
    // --font-weight__light      : 300;
    --font-weight__regular    : 400;
    // --font-weight__medium     : 500;
    // --font-weight__semibold   : 600;
    --font-weight__bold       : 700;
    // --font-weight__extrabold  : 800;
    --font-weight__black      : 900; 

    --width-base     : calc(100% - 40px);

    $widths: 
        1300px,
        1240px,
        1040px,
        975px,
        860px,
        1140px,
        820px,
        700px,
        940px,
        960px,
    ;

    @each $width in $widths {
        $i: index($widths, $width);
        --width-content#{$i} : #{$width};
        --width#{$i} : min(var(--width-base), var(--width-content#{$i}));
        --full-width#{$i} : min(100% , var(--width-content#{$i}));
        --n-margin-width#{$i} : calc(-1 * max(((100cqw - var(--width-content#{$i})) / 2), 20px));
    }

    --height__adminbar : 32px;
    --height__header   : 100px;
    
    --zindex__header    : 100;
    --zindex__hamburger : 200;
    --zindex__menu      : 300;

    --content-padding__top : 90px;
    --content-padding__bottom : 140px;
}

@include md {
    :root{
        --height__header: 60px;
        --content-padding__top : 45px;
        --content-padding__bottom : 70px;
    }
}

@include ad {
    :root {
        --height__adminbar : 46px;
    }
}

/* standard-inner */
.standard-inner {
    margin: 0 auto;
}

@for $i from 1 through 10 {
    .standard-inner.type#{$i} { width: var(--width#{$i}); }
    .standard-inner.type#{$i}.fullwidth { width: var(--full-width#{$i}); }
}