$xl: 1440px;  //---pc--
$lg: 1280px;  //---header-sm---
$md: 1024px;  //---tab---
$sm: 600px;   //---sm----
$ftsm: 980px; //---footer-sm---
$ad: 782px;   //---admin-bar---

@mixin all {
  @media all {
    @content;
  }
}

@mixin xl {
  @media (max-width: ($xl)) {
    @content;
  }
}
@mixin lg {
  @media (max-width: ($lg)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin md {
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin sm {
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin ftsm {
  @media (max-width: ($ftsm)) {
    @content;
  }
}
@mixin ad {
  @media (max-width: ($ad)) {
    @content;
  }
}


.sp-only {
  display: none;

  @include md {
    display: block;
  }
}
.pc-only {
  display: block;

  @include md {
    display: none;
  }
}
